*{
  margin:0;
  padding:0;
}
html{
  background:url(../assets/introduction.jpg) no-repeat center center fixed;
  background-size: cover;
}
.intro_welcome{
  margin-left: 50%;
  margin-top: 7%;
  color:blue;
  font-size: 50px;
}
.intro_content{
  margin-left: 42%;
  margin-top: 4%;
  color:blue;
  font-size: 30px;
}
.worry{
  margin-left: 60%;
  margin-top: 4%;
  color:blue;
  font-size: 40px;
}
.professional{
  margin-left: 42%;
  margin-top: 3%;
  color:blue;
  font-size: 35px;
}
