body{
  padding-top: 50px;
}
.containers {
  border: 2px solid #A2E2F1;
  background-color: #B8E8F3;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 10px 10px;
  opacity: 0.8;
}

.time-right {
  float: right;
  color: #aaaaaa;
}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

/* The following code is adapt from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: #F59743;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #D48035;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #FAD2AF;
}
/* Adapatation ends here */

hr{
  border-color: #000000;
}