*{
  margin:0;
  padding:0;
  outline:none;
}
html{
background-image: linear-gradient(60deg, #C9FFBF 0%,
#ffafbd 99%,#ffafbd 100%);
}
.red_text{
margin-left:40%;
margin-top:2%;
color: red;
}
.register{
  margin-left:0%;
  margin-top:3%;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 25px;
  color:#004d99;
}
.first{
  margin-left:25%;
}
input:hover{
  border-width: 2px;
  border-color: skyblue;
}
input:focus{
  border-width: 2px;
  border-color: skyblue;
}
.major:hover{
  border-width: 2px;
  border-color: skyblue;
}
.major:active{
  border-width: 2px;
  border-color: skyblue;
}
.education:hover{
  border-width: 2px;
  border-color: skyblue;
}
.education:active{
  border-width: 2px;
  border-color: skyblue;
}
.per-des:hover{
  border-width: 2px;
  border-color: skyblue;
}
.confirm:hover{
  border-width: 2px;
  border-color: skyblue;
}
.per-des:active{
  border-width: 2px;
  border-color: skyblue;
}
.first,.last,.user{
	background: transparent;
  display:inline-block;
	color: #004d99;
  margin-top:2%;
  width: 15%;
  height:35px;
  text-align: center;
	border: 0;
  outline: 0;
	border-bottom: 1px solid #696969;
  font-size: 16px;

}
.last,.user{
  margin-left:2%;
}
.user{
	width: 11%;
}
.email{
	background: transparent;
	color: #004d99;
  margin-left:25%;
  margin-top:2%;
  width: 45%;
  height:35px;
  font-size: 16px;
  padding-left: 1%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #696969;
}
.major{
	background: transparent;
  margin-left:25%;
  margin-top:2%;
  width: 15%;
  height:35px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #696969;
  font-size: 16px;

}
select{
  border:none;
  width:100%;
  height:100%;
  appearance: none;
  font-size: 16px;
  padding-left: 1%;
}
.education{
	margin-top: -41px;
  margin-left:55%;
  width: 15%;
  height:35px;
  font-size: 16px;
	border-bottom: 1px
}
.per-des{
  margin-left:25%;
  margin-top:2%;
  width: 45%;
  height:100px;
  padding-left: 1%;
  text-align: center;
}
.inner-persnal-description{
	color: #004d99;
	background: transparent;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #696969;
  width:100%;
  height:90%;
  appearance: none;
  font-size: 16px;
  margin-left:-2%;
  padding-left: 1%;
  padding-top: 1%;
	resize: none;
}
.submit{
	margin-left:43%;
	margin-top:2%;
	background: transparent;
	color: #004d99;
	border: 5px solid #004d99;
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font: 18px "Margarine", sans-serif;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
}
.submit:hover {background-color: #66CCCC}
.submit:active {
  background-color: #66CCCC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}