*{
  margin:0;
  padding:0;
}
html{
  background:url(../assets/reset_bac.jpeg) no-repeat center center fixed;
  background-size: cover;
}
.Reset-Password{
  margin-top:150px;
  margin-left:37%;
  font-size: 50px;
  color:#000000;
}
#email{
  margin-left:25%;
  margin-top:30px;
  width: 50%;
  height:35px;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 1%;
}
#send{
  margin-left:45%;
  width: 13%;
  height:42px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}
.send{
  margin-top: 20px;
  margin-left:45%;
  padding:10px;
  width: 13%;
  height:42px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}
